body {
	font-family: 'Asap', sans-serif;
}

.navbar-container {
	position: absolute;
	top: 0;
	left: 0;
	height: 82px;
	width: 100%;
	border-bottom: 1px solid lightgrey;
}

.navbar-name {
	margin-top: -5px;
	margin-left: 25px;
	margin-right: 25px;
	text-transform: uppercase;
	font-size: 135%;
	a {
		text-decoration: none;
		color: #18121E;
	}
}

.menu {
	a {
		font-size: 135%;
		color: #18121E;
		text-decoration: none;
		padding-top: 28px;
		padding-right: 20px;
		padding-left: 20px;
    }
	a:hover {
		color: grey;
	}
}





/* Media queries : */

@media screen and (min-width: 920px){
	.navbar {
		display: flex;
		justify-content: space-between;
		height: 100%;
	}	

	.navbar-menu {
		display: inline;
		padding-right: 15px;
	}

	.menu {
		display: flex;
	}
}


/* Under 920px */

@media screen and (max-width: 919px){
	.navbar-container {
		height: 140px;
	}

	.navbar-name {
		text-align: center;
	}

	.navbar-menu {
		display: block;
		text-align: center;
	}
}


@media screen and (max-width: 600px){
	.navbar-name a {color:yellow;}
	.menu a {
		padding-right: 15px;
		padding-left: 15px;
    }
}


@media screen and (max-width: 550px) {
	.navbar-name a {color:green;}
	.menu a {
		padding-right: 10px;
		padding-left: 10px;
    }
}


@media screen and (max-width: 490px) {
	.navbar-name a {color:blue;}
	.navbar-container {
		height: 165px;
	}
	.menu a {
		margin-top: 15px;
		padding-right: 25px;
		padding-left: 25px;
    }
}


@media screen and (max-width: 360px) {
	.navbar-name a {color:red;}
	.navbar-container {
		height: 165px;
	}
	.menu a {
		padding-right: 15px;
		padding-left: 15px;
    }
}