body {
	font-family: 'Asap', sans-serif;
	background-color: #C4DFE6;
}


/* MENU NAVBAR */
.navbar-container {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	height: 82px;
	width: 100%;
	border-bottom: 1px solid #086266;
	background-color: #66A5AD;
}

.navbar-name {
	margin-top: -9px;
	margin-left: 25px;
	margin-right: 50px;
	text-transform: uppercase;
	font-size: 135%;
	a {
		text-decoration: none;
		color: #075F6B;
	}
	a img {
		position: absolute;
		margin-top: 4px;
		max-width: 40px;
	}
	a h1 b {
		padding-right: 2px;
		font-size: 110%;
		color: #00434F;
	}
}

.menu {
	a {
		font-size: 135%;
		color: #003B46;
		text-decoration: none;
		margin-top: 27px;
		margin-right: 20px;
		margin-left: 20px;
    }
	a:hover {
		color: #07575B;
		border-bottom: 2.8px solid #086469;
	}
	#active {
		border-bottom: 3px solid #086469;
	}
}


/* HEADER + IMAGE */
.titre-header {
	font-size: 160%;
	position: absolute;
	margin-left: 4%;
	margin-right: 60%;
	padding: 7px;
	top: 120px;
	color: #002B33;
	background-color: #C4DFE6;
	opacity: 0.5;
}

.img-header {
	z-index: -1;
	width: 100vw;
	margin-left: -8px;
	opacity: 0.9;
}


/* CONTENU */
.bloc {
	display: block;
	margin-top: 82px;
	padding: 30px;
	padding-top: 50px;
	margin-right: 5%;
	margin-left: 5%;
	background-color: white;
}

.texte {
	margin-top: -30px;
	padding: 30px;
	padding-top: 50px;
	margin-right: 5%;
	margin-left: 5%;
	background-color: white;
	opacity: 0.98;
	h3, p {
		padding-right: 9%;
		text-align: justify;
	}
	h3 {
		color: #002B33;
		font-size: 160%;
		padding-left: 10%;
		padding-bottom: 2%;
	}
	p {
		font-size: 130%;
		padding-left: 7%;
		padding-bottom: 5%;
		line-height: 1.6;
	}
	br {
		margin-bottom: 10px;
	}
}


/* BOUTON TOP */
.totop {
	margin: 0 auto;
	display: table;
	text-align: center;
	text-transform: uppercase;
	font-size: 150%;
	padding: 13px;
	margin-top: -10px;
	background-color: #075F6B;
	opacity: 0.99;
	a {
		padding-right: 5px;
		color: white;
		text-decoration: none;
	}
	b {
		padding-right: 5px;
		font-weight: lighter;

	}
}

.totop:hover {
	background-color: #06545E;
}


/* CARTE */
.menu-body {
	max-width: 680px;
	margin: 0 auto;
	display: block;
	color: rgb(92, 92, 92);
}
 
.menu-section {
	margin-bottom: 80px;
}
 
.menu-section-title {
	display: block;
	text-align: center;
	margin: 20px 0; 
	font-size: 270%;
	text-transform: uppercase;
	color: #06545E;
}
 
.menu-item {
	margin: 45px 0;
	font-size: 18px;
}
 
.menu-item-name{
	font-weight: bold;
	border-bottom: 2px dotted rgb(213, 213, 213);
}
 
.menu-item-description {
	font-style: italic;
	font-size: .9em;
	line-height: 1.5em;
}
 
.menu-item-price{
	float: right;
	font-weight: bold;
	margin-top: -22px;
}	


/* IMAGE GALLERY */
.bloc-title {
	display: block;
	text-align: center;
	margin-top: -60px;
	padding-bottom: 40px;
	font-size: 150%;
	color: #06545E;
}

.btn-slideshow {
	display: flex;
	justify-content: space-around;
	text-transform: uppercase;
	margin-top: 50px;
	background-color: #075F6B;
	color: white;
	font-weight: bold;
	margin-left: 35%;
	margin-right: 35%;
}

.slideshow-content {
	display: flex;
	justify-content: center;
}

.slideshow {
	display: inline-block;
	list-style-type: none;
	padding: 0;
	margin: 0;
	padding-left: 5%;
	padding-right: 5%;
	li img {
		width: 100px;
		height: 100px;
	}
}


/* GMAPS API + style */
.gmaps1, .gmaps2 {
   width: 350px;
   height: 300px;
   background-color: grey;
}

.gmaps1 { grid-area: apiA; }
.text1 { grid-area: textA; }
.gmaps2 { grid-area: apiB; }
.text2 { grid-area: textB; }

.apibloc {
	overflow: hidden;
	display: grid;
	grid-template-areas:
		'. apiA . textA textA .'
		'. textB textB . apiB.';
	grid-gap: 10px;
}



/* MEDIA QUERIES :
MIN-WIDTH */
@media screen and (min-width: 920px){
	.navbar {
		display: flex;
		justify-content: space-between;
		height: 100%;
	}	

	.navbar-menu {
		display: inline;
		margin-right: 15px;
	}

	.menu {
		display: flex;
	}
}


/* MAX-WIDTH */
@media screen and (max-width: 919px){
	.navbar-container {
		height: 140px;
	}

	.navbar-name {
		text-align: center;
	}

	.navbar-menu {
		display: block;
		text-align: center;
	}

	.img-header {
		margin-top: 60px;
	}

	.titre-header {
		top: 160px;
	}

	.bloc {
		margin-top: 140px;
	}

	.texte {
		margin-top: -20px;
		padding: 25px;
		h3 {
			padding-left: 13%;
		}
	}
}


@media screen and (max-width: 600px){
	.menu a {
		margin-right: 15px;
		margin-left: 15px;
    }

    .img-header {
		margin-top: 70px;
	}

	.titre-header {
		margin-right: 40%;
		opacity: 0.6;
	}

	.slideshow-content {
		display: block;
		margin-left: 35%;
	    margin-right: auto;
	    width: 40%;
	}

	.btn-slideshow {
		margin-left: 15%;
		margin-right: 15%;
	}
}


@media screen and (max-width: 550px) {
	.menu a {
		margin-right: 10px;
		margin-left: 10px;
    }

    .img-header {
		margin-top: 80px;
	}

	.titre-header {
		margin-right: 70%;
	}
}


@media screen and (max-width: 490px) {
	.navbar-container {
		height: 165px;
	}
	
	.menu a {
		margin-right: 25px;
		margin-left: 25px;
	}

	.img-header {
		margin-top: 115px;
	}

	.titre-header {
		top: 180px;
	}

	.bloc {
		margin-top: 165px;
	}

	.texte {
		margin-top: -15px;
		padding: 15px;
		h3, p {
			padding-right: 9%;
			text-align: left;
		}
		h3 {
			padding-left: 10%;
		}
	}

	.slideshow-content {
		margin-left: 32%;
	}
}


@media screen and (max-width: 360px) {
	.menu a {
		margin-right: 15px;
		margin-left: 15px;
    }

    .img-header {
		margin-top: 130px;
	}

	.titre-header {
		top: 170px;
	}

	.menu-section-title {
		margin-left: -10px;
	}

	.slideshow-content {
		margin-left: 27%;
	}
}