body {
  font-family: 'Asap', sans-serif;
  background-color: #C4DFE6; }

/* MENU NAVBAR */
.navbar-container {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  height: 82px;
  width: 100%;
  border-bottom: 1px solid #086266;
  background-color: #66A5AD; }

.navbar-name {
  margin-top: -9px;
  margin-left: 25px;
  margin-right: 50px;
  text-transform: uppercase;
  font-size: 135%; }
  .navbar-name a {
    text-decoration: none;
    color: #075F6B; }
  .navbar-name a img {
    position: absolute;
    margin-top: 4px;
    max-width: 40px; }
  .navbar-name a h1 b {
    padding-right: 2px;
    font-size: 110%;
    color: #00434F; }

.menu a {
  font-size: 135%;
  color: #003B46;
  text-decoration: none;
  margin-top: 27px;
  margin-right: 20px;
  margin-left: 20px; }
.menu a:hover {
  color: #07575B;
  border-bottom: 2.8px solid #086469; }
.menu #active {
  border-bottom: 2.8px solid #086469; }

/* HEADER + IMAGE */
.titre-header {
  font-size: 160%;
  position: absolute;
  margin-left: 4%;
  margin-right: 60%;
  padding: 7px;
  top: 120px;
  color: #002B33;
  background-color: #C4DFE6;
  opacity: 0.5; }

.img-header {
  z-index: -1;
  width: 100vw;
  margin-left: -8px;
  opacity: 0.9; }

/* CONTENU */
.bloc {
  display: block;
  margin-top: 82px;
  padding: 30px;
  padding-top: 50px;
  margin-right: 5%;
  margin-left: 5%;
  background-color: white; }

.texte {
  margin-top: -30px;
  padding: 30px;
  padding-top: 50px;
  margin-right: 5%;
  margin-left: 5%;
  background-color: white;
  opacity: 0.98; }
  .texte h3, .texte p {
    padding-right: 9%;
    text-align: justify; }
  .texte h3 {
    color: #002B33;
    font-size: 160%;
    padding-left: 10%;
    padding-bottom: 2%; }
  .texte p {
    font-size: 130%;
    padding-left: 7%;
    padding-bottom: 5%;
    line-height: 1.6; }
  .texte br {
    margin-bottom: 10px; }

/* BOUTON TOP */
.totop {
  margin: 0 auto;
  display: table;
  text-align: center;
  text-transform: uppercase;
  font-size: 150%;
  padding: 13px;
  margin-top: -10px;
  background-color: #075F6B;
  opacity: 0.99; }
  .totop a {
    padding-right: 5px;
    color: white;
    text-decoration: none; }
  .totop b {
    padding-right: 5px;
    font-weight: lighter; }

.totop:hover {
  background-color: #06545E; }

/* CARTE */
.menu-body {
  max-width: 680px;
  margin: 0 auto;
  display: block;
  color: #5c5c5c; }

.menu-section {
  margin-bottom: 80px; }

.menu-section-title {
  display: block;
  text-align: center;
  margin: 20px 0;
  font-size: 270%;
  text-transform: uppercase;
  color: #06545E; }

.menu-item {
  margin: 45px 0;
  font-size: 18px; }

.menu-item-name {
  font-weight: bold;
  border-bottom: 2px dotted #d5d5d5; }

.menu-item-description {
  font-style: italic;
  font-size: .9em;
  line-height: 1.5em; }

.menu-item-price {
  float: right;
  font-weight: bold;
  margin-top: -22px; }

/* MEDIA QUERIES :
MIN-WIDTH */
@media screen and (min-width: 920px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    height: 100%; }

  .navbar-menu {
    display: inline;
    margin-right: 15px; }

  .menu {
    display: flex; } }
/* MAX-WIDTH */
@media screen and (max-width: 919px) {
  .navbar-container {
    height: 140px; }

  .navbar-name {
    text-align: center; }

  .navbar-menu {
    display: block;
    text-align: center; }

  .img-header {
    margin-top: 60px; }

  .titre-header {
    top: 160px; }

  .bloc {
    margin-top: 140px; }

  .texte {
    margin-top: -20px;
    padding: 25px; }
    .texte h3 {
      padding-left: 13%; } }
@media screen and (max-width: 600px) {
  .menu a {
    margin-right: 15px;
    margin-left: 15px; }

  .img-header {
    margin-top: 70px; }

  .titre-header {
    margin-right: 40%;
    opacity: 0.6; } }
@media screen and (max-width: 550px) {
  .menu a {
    margin-right: 10px;
    margin-left: 10px; }

  .img-header {
    margin-top: 80px; }

  .titre-header {
    margin-right: 70%; } }
@media screen and (max-width: 490px) {
  .navbar-container {
    height: 165px; }

  .menu a {
    margin-right: 25px;
    margin-left: 25px; }

  .img-header {
    margin-top: 115px; }

  .titre-header {
    top: 180px; }

  .bloc {
    margin-top: 165px; }

  .texte {
    margin-top: -15px;
    padding: 15px; }
    .texte h3, .texte p {
      padding-right: 9%;
      text-align: left; }
    .texte h3 {
      padding-left: 10%; } }
@media screen and (max-width: 360px) {
  .menu a {
    margin-right: 15px;
    margin-left: 15px; }

  .img-header {
    margin-top: 130px; }

  .titre-header {
    top: 170px; }

  .menu-section-title {
    margin-left: -10px; } }

/*# sourceMappingURL=style.css.map */
